*{
    font-size: 14px;
}

section.geral {
    padding: 20px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        span,strong {
            font-size: 25px;
        }
    }
}


section.pageContent {
    margin-top: 15px;
    padding: 20px;
    background-color: #f2f4ff;
    border-radius: 5px;
}

mat-divider {
    border-width: 1px;
}


button.add.mobile {
    display: none;
}

button.add.mobile mat-icon {
    font-size: 30px;
}


::ng-deep {
    button.mat-mdc-menu-item {
        span.mdc-list-item__primary-text{
            span {
                mat-icon {
                    margin-right: 0px;
                    display: contents;
                }
            }
        }
    }
}

::ng-deep {
    button.add{
        background-color: rgb(62, 158, 55) !important;
    } 
    .mat-mdc-menu-content {
        padding: 0px;
    }
}

@media only screen and (max-width: 750px) {
    section.geral > button.add:not(.mobile) {
        display: none
    }
    section.geral button.add.mobile {
        display: flex;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }
    button.add.mobile mat-icon {
        display: contents;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    section.geral {
        padding: 20px 0px;
        animation-name: resize;
        animation-duration: 0.5s;
    }
    @keyframes resize1 {
        from { padding: 20px 10px; }
        to { padding: 20px 0px; }
    }
    section.geral > button.add {
        margin-left: 10px;
    }
    form.tableSearch {
        div.filterForTable {
            display: none;
        }
        button.buttonFilter {
            display: block;
        }
    }
}

@media only screen and (max-width: 525px) {
    section.pageContent {
        padding: 20px 0px;
    }
    section.pageContent > div.tableSearch {
        padding: 0px 20px
    }
    button.buttonFilter {
        margin-left: 10px;
    }
}






