<section class="geral">
  <div class="titulo">
      <h3 class="titulo">Dados do Cliente</h3>
      <div class="separador"></div>
      <div style="gap: 10px;">
          <button mat-raised-button color="primary" (click)="cadastrarCredito()" *ngIf="queryParams?.id && !isEditing"
              [disabled]="isEditing" class="edit">
              Cadastrar Crédito
          </button>
          <button mat-raised-button color="primary" (click)="editarCliente()" *ngIf="queryParams?.id"
              [disabled]="isEditing" class="edit">
              {{!isEditing ? 'editar' : ' editando... '}}
          </button>
      </div>
  </div>
  <ait-form
      [TableFormFields]="fieldsClientePrincipal"
      [formgroup]="formCliente"
  ></ait-form>

  <div class="titulo">
      <h3 class="titulo">Conta</h3>
      <div class="separador"></div>
  </div>
  <ait-form
      [TableFormFields]="fieldsClienteConta"
      [formgroup]="formCliente"
  ></ait-form>
  <button mat-raised-button [ngClass]="{'saveButton':formCliente.valid}" 
      (click)="salvarCliente()" *ngIf="!formCliente.disabled" style="display: block; margin-left: auto"
      [disabled]="formCliente.invalid||formCliente.disabled">
      <mat-icon>save</mat-icon>
      Salvar
  </button>
</section>