<form [formGroup]="formgroup">
    <div *ngFor="let row of TableFormFields" style="display: flex; flex-wrap: wrap;" [ngStyle]="{'column-gap':columnGap+'px'}">
        <span *ngFor="let field of row" [ngStyle]="{'flex-grow':field?.fieldFlexGrow,'min-width':field?.fieldMinWidth,'width':field?.fieldWidth}">
            <section *ngIf="field!=undefined;">
                <span *ngIf="field.type=='text'">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{field.name!='' ?field.name :'Field with no name'}}</mat-label>
                        <input matInput [type]="!field.formControlName.toLowerCase().includes('password') ?'text' :'password'"
                            formControlName="{{field.formControlName}}" required="{{hasRequiredValidator(field.formControlName)}}" 
                            placeholder="{{field.fieldPlaceholder}}" 
                            maxlength="{{field.validators?.maxLength!=undefined ?field.validators?.maxLength :null}}"
                            mask="{{field.validators?.maskPattern!=undefined ?field.validators?.maskPattern :null}}">
                    </mat-form-field>
                </span>
                <span *ngIf="field.type=='longText'">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>{{field.name!='' ?field.name :'Field with no name'}}</mat-label>
                        <textarea matInput [type]="!field.formControlName.includes('password') ?'text' :'password'" formControlName="{{field.formControlName}}" 
                            required="{{hasRequiredValidator(field.formControlName)}}" placeholder="{{field.fieldPlaceholder}}"
                            maxlength="{{field.validators?.maxLength!=undefined ?field.validators?.maxLength :null}}">
                        </textarea>
                    </mat-form-field>
                </span>
                <span *ngIf="field.type=='number'">
                    <mat-form-field appearance="fill" style="width: 100%;" 
                    [floatLabel]="field.formControlName.toLowerCase().includes('price')?'always' :'auto'">
                        <mat-label>{{field.name!='' ?field.name :'Field with no name'}}</mat-label>
                        <input matInput type="number" formControlName="{{field.formControlName}}" class="number" 
                            [ngClass]="{'price':field.formControlName.toLowerCase().includes('price')}"
                            maxlength="{{field.validators?.maxLength!=undefined ?field.validators?.maxLength :null}}"
                            required="{{hasRequiredValidator(field.formControlName)}}" placeholder="{{field.fieldPlaceholder}}">
                                <span matTextPrefix *ngIf="field.formControlName.toLowerCase().includes('price')">$&nbsp;</span>
                                <span matTextSuffix *ngIf="field.formControlName.toLowerCase().includes('price')">.00</span>
                    </mat-form-field>
                </span>
                <span *ngIf="field.type=='select'">
                    <mat-form-field style="width: 100%;">
                        <mat-label>{{field.name!='' ?field.name :'Field with no name'}}</mat-label>
                        <mat-select formControlName="{{field.formControlName}}" required="{{hasRequiredValidator(field.formControlName)}}">
                            <mat-option value="{{item[1]}}" *ngFor="let item of field.options">{{item[0]}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
                <span *ngIf="field.type=='buttonToggle'">
                    <mat-button-toggle-group formControlName="{{field.formControlName}}" aria-label="Font Style"
                        required="{{hasRequiredValidator(field.formControlName)}}"
                        >
                        <mat-button-toggle *ngFor="let item of field.options" value="{{item[1]}}">{{item[0]}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </span>
                <span *ngIf="field.type=='date'">
                    <mat-form-field style="width: 100%;">
                        <mat-label>{{field.name!='' ?field.name :'Field with no name'}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="{{field.formControlName}}" 
                            required="{{hasRequiredValidator(field.formControlName)}}">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </span>
                <span *ngIf="field.type=='radio'" style="display: flex; flex-direction: column;" class="formRadio">
                    <label id="radio-group-label" style="margin-bottom: 1px;">{{field.name!='' ?field.name :'Field with no name'}}</label>
                    <mat-radio-group
                        formControlName="{{field.formControlName}}"
                        aria-labelledby="radio-group-label"
                        required="{{hasRequiredValidator(field.formControlName)}}"
                        style="margin-bottom: 20px;"
                        class="radio-group"
                        >
                        <mat-radio-button class="radio-button" value="{{item[1]}}" *ngFor="let item of field.options">
                            {{item[0]}}
                        </mat-radio-button>
                    </mat-radio-group>
                </span>
                <span *ngIf="field.type=='checkbox'" class="formCheckbox">
                    <mat-checkbox color="primary" formControlName="{{field.formControlName}}" 
                        required="{{hasRequiredValidator(field.formControlName)}}"
                        style="margin-bottom: 22px; padding: 9px 0px;">
                        {{field.name!='' ?field.name :'Field with no name'}}
                    </mat-checkbox>
                </span>
            </section>
        </span>
    </div>
</form>