input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=password]::-webkit-outer-spin-button,
input[type=password]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.number.price[type=number] {
  -moz-appearance: textfield;
  text-align: right;
}
input[type=password] {
  text-align: left;
}

::ng-deep span.formRadio > mat-radio-group > mat-radio-button label {
    padding-left: 0px; 
    padding-right:10px; 
    margin-left: -5px;
}

::ng-deep span.formCheckbox > mat-checkbox > div.mdc-form-field label {
    padding-left: 0px; 
    margin-left: 0px;
}
