<section class="geral">
    <div class="titulo">
        <h3 class="titulo">Dados do movimentacao</h3>
        <div class="separador"></div>
        <button mat-raised-button color="primary" (click)="editarMovimentacao()" *ngIf="queryParams?.id"
            [disabled]="isEditing" class="edit">
            {{!isEditing ? 'editar' : ' editando... '}}
        </button>
    </div>
    <ait-form
        [TableFormFields]="fieldsmovimentacaoPrincipal"
        [formgroup]="formMovimentacao"
    ></ait-form>

    <div class="titulo">
        <h3 class="titulo">Endereço</h3>
        <div class="separador"></div>
    </div>
    <ait-form
        [TableFormFields]="fieldsmovimentacaoEndereco"
        [formgroup]="formMovimentacao"
    ></ait-form>

    <div class="titulo">
        <h3 class="titulo">Contato</h3>
        <div class="separador"></div>
    </div>
    <ait-form
        [TableFormFields]="fieldsmovimentacaoContato"
        [formgroup]="formMovimentacao"
    ></ait-form>
    <button mat-raised-button [ngClass]="{'saveButton':formMovimentacao.valid}" 
        (click)="salvarMovimentacao()" *ngIf="!formMovimentacao.disabled" style="display: block; margin-left: auto"
        [disabled]="formMovimentacao.invalid||formMovimentacao.disabled">
        <mat-icon>save</mat-icon>
        Salvar
    </button>
</section>